.back-icon {
    margin-top: 50px;
    font-size: 50px;
    margin-left: 10px;
    position: absolute;
    color: white;
}
.picture-section {
    height: 300px;
    background: url("../../assets/images/codeup.jpg");
    background-size: cover;
    background-color: rgb(228, 228, 228);

}
.home {
    font-size: 20px;
}

.info-points {
    width: 250px;
}
.item {
    font-size: 18px;
}
.my-story {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 200;
    margin-bottom: 20px;

    &-text {
        font-size: 16px;
        line-height: 30px;
        width: 90vw;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
#wanna {
    text-align: center;
    font-weight: 400;
    font-size: 21px;
}
.input-field {
    width: 90vw;
    margin: 0 auto;
}
.message-btn {
    margin: 50px auto 50px auto;
    width: 270px;
    display: block
}