.back-icon {
    margin-top: 50px;
    font-size: 50px;
    margin-left: 10px;
    position: absolute;
}
.picture-section {
    height: 300px;
    background: transparent;
    background-color: rgb(228, 228, 228)

}
.home {
    font-size: 20px;
}

.info-points {
    width: 250px;
}
.item {
    font-size: 18px;
}