<ion-content>
  <div class="back-icon">
      <ion-icon name="arrow-round-back" [routerLink]="'/home'" routerDirection="backward"></ion-icon>
  </div>
  <div class="picture-section">
  </div>
  <ion-row class="ion-justify-content-end">
    <ion-col size="6">
        <ion-item class="item" lines="none">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>San Antonio</ion-label>
          </ion-item>
    </ion-col>
    <ion-col size="6">
        <ion-item class="item" lines="none">
            <ion-icon slot="start" name="time"></ion-icon>
            <ion-label>21 Years Old</ion-label>
          </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
