<ion-content>
  <div class="back-icon">
      <ion-icon name="arrow-round-back" [routerLink]="'/home'" routerDirection="backward"></ion-icon>
  </div>
  <div class="picture-section">
  </div>
  <ion-row class="ion-justify-content-end">
    <ion-col size="6">
        <ion-item class="item" lines="none">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>San Antonio</ion-label>
          </ion-item>
    </ion-col>
    <ion-col size="6">
        <ion-item class="item" lines="none">
            <ion-icon slot="start" name="time"></ion-icon>
            <ion-label>21 Years Old</ion-label>
          </ion-item>
    </ion-col>
  </ion-row>
  <h1 class="my-story">MY STORY</h1>
  <p class="my-story-text">In 2017 I had graduated high school and was attending my local community
    college to pursue a degree in computer science. As I began to dive deeper
    into code, I started to feel I could really accelerate my learning. I decided
    to leave my college and enroll in a local coding bootcamp called Codeup. Fortunately,
    I was able to receive an offer before the bootcamp was over from Accenture.
    <br>
    <br>
    After a short while at Accenture, I found a unique startup that really intersted me.
    It was a small company specializing in Fintech, and they had just been aquired
    by a tech giant called Fiserv. My time there was pretty amazing. I learned so many new
    techniques and really got to collaborate with a cool team.
    <br>
    <br>
    That brings me to now. I am in my last week Fiserv. I have accepted a new opportunity
    to work with a small team and I am extremely exited. I guess we will see what happens
    from here!
  </p>
</ion-content>
