<ion-content class="home-content">
  <h1 class="name matt">MATT</h1>
  <h1 class="name rich">RICH</h1>
  <p class="job-title">Software Developer | San Antonio</p>
  <p class="bio">A Fullstack developer with a true passion for learning and working in team oriented environments. I look at everyday as an opportunity to explore deeper in the world of tech, and find new ways to write efficient, innovative software.</p>
  <ion-row class="two-btns">
    <ion-col size="6">
        <ion-button color="light" class="about">
            <ion-icon slot="start" name="hand"></ion-icon>
            About Me
        </ion-button>
    </ion-col>
    <ion-col size="6"> 
        <ion-button color="light" class="skills">
            <ion-icon slot="start" name="hammer"></ion-icon>
            My Skills
        </ion-button>
    </ion-col>
  </ion-row>
  <ion-button color="light" class="my-work">
      <ion-icon slot="start" name="briefcase"></ion-icon>
      My Work
  </ion-button>



</ion-content>
